
body{
    background-color: lemonchiffon;
}

#container{
    position: relative;
    background-color: #fffacd;
}
#login_box{
    position: absolute;
    background-color: #00ffff;
    border: 5px solid blue;
    top: 300px;
    left: 40%;
    right: 40%;
    width: 400px;
    height: 400px;
}
#login_box table{
    position: absolute;
    top: 35%;
    left: 10%;
    right: 10%;
}